# ==============================================================================
# NetOpsWan Enterprise SD-WAN Platform - Müşteri Sunucusu Ortam Yapılandırması
# ==============================================================================

# Sunucu Dış IP / Domain Bilgisi (Örn: 200.97.171.59 veya sdwan.firma.com)
SERVER_DOMAIN=localhost
SERVER_IP=127.0.0.1

# NetOpsWan Yönetim Paneli Portu
PANEL_PORT=3000

# OpenWISP API Yetkilendirme & Dahili Bağlantı
OPENWISP_API_TOKEN=CHANGE_ME_generate_your_own_openwisp_api_token
OPENWISP_API_HOST=api.openwisp.org
OPENWISP_INTERNAL_HOST=openwisp_nginx
OPENWISP_PORT=443

# OpenWISP Veritabanı & Güvenlik
DB_USER=netopswan_admin
DB_PASS=CHANGE_ME_use_a_strong_random_password
DJANGO_SECRET_KEY=CHANGE_ME_generate_with_python_-c_"import secrets; print(secrets.token_urlsafe(50))"
SSL_CERT_MODE=SelfSigned
OPENWISP_VERSION=edge
